.CommandPaletteBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.CommandPalette {
    box-sizing: border-box;
    width: 400px;
    height: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    position: fixed;
    background-color: var(--primary-background-color);
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.FilterInput {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    padding: 4px 4px;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 2px;
    color: var(--primary-text-color);
}

.FilterInput::placeholder {
    font-style: italic;
    color: var(--disabled-text-color);
}

.NoCommandsFound {
    color: var(--disabled-text-color);
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.CommandList {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 6px;
    background-color: var(--secondary-background-color);
    padding: 3px;
    flex-grow: 1;
}

.CommandRow {
    padding: 2px;
    font-size: 14px;
    color: var(--primary-text-color);
    user-select: none;
    display: flex;
    place-content: space-between;
    white-space: pre-wrap;
}

.CommandRow.disabled {
    color: var(--disabled-text-color);
}

.CommandRow:hover {
    background-color: var(--item-hilight);
}

.CommandRow:focus {
    background-color: var(--item-focus);
    outline: none;
    box-shadow: 0 0 2px 2px #12acff;
}

.FocusedText {
    font-weight: bold;
}

.CommandRow .KeyShortcuts {
    margin-left: auto;
}

.CommandRow .ShortcutSeparator {
    margin: 0 4px;
}

.CommandRow .KeyCode {
    border: 1px grey solid;
    border-radius: 4px;
    padding: 1px;
    font-size: smaller;
}
