.PreviewFrameBackDrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-background-95);
    display: flex;
}

.PreviewFrameBackDrop > div {
    width: 300px;
    height: 300px;
    margin: auto;
    border: none;
    background-color: var(--primary-background-color);
    opacity: 1;
}
