.MenuBar {
    position: fixed;
    max-width: 500px;
    min-width: 320px;
    width: max-content;
    height: 40px;
    background: var(--primary-background-color);
    top: 20px;
    left: 20px;
    border-radius: 4px;
    display: flex;
}

.MenuBarSeparator {
    width: 1px;
    border-right: var(--secondary-background-color) 1px solid;
}

.ProjectNameInput {
    font-size: 18px;
    color: var(--primary-text-color);
    background: none;
    border: none;
    margin: auto 8px;
    padding: 4px 8px;
    flex-grow: 1;
    min-width: 200px;
}

.ProjectNameInput input {
    color: var(--primary-text-color);
    font-size: 18px;
}

.IconButton {
    filter: var(--icon-filter);
    opacity: 0.5;
}

.IconButton:hover:not(.disabled) {
    opacity: 0.8;
}

.IconButton.disabled {
    opacity: 0.25;
}

.UndoIcon {
    transform: scaleX(-1);
}

.RedoIcon {
    filter: var(--icon-filter);
    opacity: 0.5;
}

.MenuBar input::placeholder {
    font-style: italic;
    color: var(--disabled-text-color);
}
