.MiniMap canvas {
    box-sizing: border-box;
    background: #17191cf5;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
    min-width: 150px;
    max-width: 250px;
    width: 25%;
}
