.ParamPanel {
    border-top: 1px solid #80808045;
    border-bottom: 1px solid #80808045;
    background: #00000014;
    overflow: hidden;

    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 2px;
    justify-content: start;
    justify-items: stretch;
    align-content: space-around;
    align-items: stretch;
    text-align: right;
    padding: 3px;
}

.ParamKey {
    margin-right: 8px;
    position: relative;
}

.ParamValue {
    margin-left: auto;
}

.ParamPort {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 6px;
    left: -7px;
    background-color: grey;
    cursor: pointer;
}
