.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  overflow: hidden;
}

.CanvasContainer {
  display: flex;
}

.CanvasContainer canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
